*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#weatherResult {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#cityname {
    padding: 10px;
    font-size: 1em;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button#getWeatherBtn {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}