 

h1{
  color: #333;
  font-size: 24px;
  margin: 20px;
  margin-left: 190px;
}
.App{
  
  margin: 0 auto;
  margin-left: 30px;
  border: 2px solid #796e6e;
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  background-color: #f9f9f9;


}

.taskname-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}